.graph-slider-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.select {
    max-width: 150px;
}

.graphslider-div {
    stroke: black;
    stroke-width: 3px;
}
